.task {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 10px;
}

.task__id {
    margin: 0 0 0 10px;
}

.task__header {
    margin: 0 0 0 10px;
}

/* .task__header, .task__description, .task__id {
    display: flex;
} */

.task__control {
    margin-left: auto;
    margin-right: 10px;
}

.task__success {
    height: 30px;
    width: 30px;
    background-color: green;
}