.task {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 10px;
}

.task__main {
    margin: 0 0 0 10px;
}

.task__main_header {

}

.task__main_date {
    opacity: 80%;
    font-size: 14px;
}

/* .task__header, .task__description, .task__id {
    display: flex;
} */

.task__control {
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.task__success {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: green;
    margin-right: 5px;
}

.task__warning {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: red;
}

.header {
    margin: 5px 0 5px 0;
    display: flex;
    justify-content: center;
}