.task {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 20px;;
}

.task__main {
}

.task__main_header {
    font-size: 16px;
}

.task__main_date {
    opacity: 50%;
    font-size: 12px;
}

/* .task__header, .task__description, .task__id {
    display: flex;
} */

.task__control {
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.task__success {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: green;
    margin-right: 5px;
}

.task__warning {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: red;
}

.header {
    margin: 5px 0 5px 0;
    display: flex;
    justify-content: center;
    font-size: 12px;
    opacity: 50%;
}